<!DOCTYPE html>
<html>
<head>
    <title>GST Checker</title>
</head>
<body>

<h2>GSTIN Verification</h2>

<input type="text" id="gstin" placeholder="Enter GSTIN">
<button onclick="verify()">Verify</button>

<p id="result"></p>

<script>
function verify() {
    let gstin = document.getElementById("gstin").value;

    fetch(`/verify?gstin=${gstin}`)
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerText = JSON.stringify(data);
    });
}
</script>

</body>
</html>